version: "3.8"

services:
  ntrl-demo:
    image: ntrl:demo
    container_name: ntrl-demo
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    tty: true
    stdin_open: true          # like -ti
    user: "${UID}:${GID}"     # like -u $(id -u):$(id -g)
    environment:
      DISPLAY: "${DISPLAY}"
      QT_X11_NO_MITSHM: "1"
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /home/evb_dev/Albus/original-ntrl:/workspace
      - /usr/lib/x86_64-linux-gnu/:/glu
      # - /home/n/.local:/.local
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]   # like --gpus all
    restart: "no"                   # closest to --rm behavior
